/* font  */

/* variables  */
:root {
}

/* css reset  */

/*
1. Use a more-intuitive box-sizing model.
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
2. Remove default margin
*/

* {
  margin: 0;
}

/*
3. Allow percentage-based heights in the application
*/

html,
body {
  min-height: 100vh;
}

/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
6. Improve media defaults
*/

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
7. Remove built-in form typography styles
*/

input,
button,
textarea,
select {
  font: inherit;
}

/*
8. Avoid text overflows
*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* main style  */

body {
  display: grid;
  /* grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto; */
}

/* header  */

#navbar {
  background-color: black;
  color: white;
  padding: 1rem 10rem;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

#logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 50px;
}

#title {
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
}

nav ul a {
  color: white;
  text-decoration: none;
}

/* container  */
main {
  width: 100%;
}

.wrapper {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* welcome section  */
#welcome-section {
  /* margin-top: 5vh; */
  height: 100vh;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* projects section  */
#projects {
  height: 100vh;
  background-color: blue;
  color: white;
  text-align: center;
}

/* contact section  */
#contact {
  height: 100vh;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer  */

footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #eee;
  padding-left: 1em;
}
a:hover {
  text-decoration: underline;
}

@media screen {
}
