/* font  */

/* variables  */
:root {
  --primary-color1: #000000;
  --primary-color2: #66666e;
  --primary-color3: #9999a1;
  --primary-color4: #e6e6e9;
  --primary-color5: #f4f4f6;
  --primary-color6: #ffffff;
}

/* css reset  */

/*
1. Use a more-intuitive box-sizing model.
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
2. Remove default margin
*/

* {
  margin: 0;
}

/*
3. Allow percentage-based heights in the application
*/

html,
body {
  min-height: 100vh;
}

/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
6. Improve media defaults
*/

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
7. Remove built-in form typography styles
*/

input,
button,
textarea,
select {
  font: inherit;
}

/*
8. Avoid text overflows
*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* main style  */

body {
  display: grid;
}

/* header  */

#navbar {
  background-color: var(--primary-color1);
  color: var(--primary-color6);
  padding: 1rem 10rem;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 10vh;
}

#logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 50px;
}

#title {
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
}

nav ul a {
  color: var(--primary-color6);
  text-decoration: none;
}

/* container  */
main {
  width: 100%;
}

.wrapper {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* welcome section  */
#welcome-section {
  height: 100vh;
  background-color: var(--primary-color3);
  color: var(--primary-color6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.name {
  font-size: 4rem;
  text-align: center;
}

.sub-title {
  color: var(--primary-color1);
  font-size: 2rem;
  font-style: italic;
}

/* projects section  */
#projects {
  height: 100vh;
  padding-top: 10vh;
  background-color: var(--primary-color4);
  color: var(--primary-color1);
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 10px;
  width: 100%;
}

.project-tile {
  background-color: var(--primary-color1);
}

.project-tile img {
  -o-object-fit: cover;
  object-fit: cover;
}
.project-title {
  color: var(--primary-color1);
  margin-bottom: 1em;
  font-size: 2rem;
}

/* contact section  */
#contact {
  height: 80vh;
  background-color: var(--primary-color5);
  color: var(--primary-color1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

#contact a {
  color: var(--primary-color1);
  text-decoration: none;
}

/* footer  */

footer {
  background-color: var(--primary-color2);
  color: var(--primary-color6);
  line-height: 1.5;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  border-top: 1px solid var(--primary-color1);
}

footer a {
  text-decoration: none;
  color: var(--primary-color6);
  padding-left: 1em;
}
a:hover {
  text-decoration: underline;
}

@media screen {
}
