/* css reset  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* main style  */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* header  */

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  width: 100%;
  margin: 0 auto;
}

#logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 50px;
}

#title {
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

nav ul {
  list-style: none;
}

nav ul a {
  color: white;
  text-decoration: none;
}

/* container  */
main {
  width: 80%;
  margin: 0 auto;
  /* background-color: white; */
  flex: 1;
}

/* footer  */

footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #eee;
  padding-left: 1em;
}
a:hover {
  text-decoration: underline;
}
